<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!--
		<rewrite>
            <rules>
                <rule name="Redirect to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        -->
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="400" />
            <error statusCode="400" path="error.php" />
            <remove statusCode="407" />
            <error statusCode="407" path="error.php" />
            <remove statusCode="414" />
            <error statusCode="414" path="error.php" />
            <remove statusCode="415" />
            <error statusCode="415" path="error.php" />
            <remove statusCode="503" />
            <error statusCode="503" path="error.php" />
            <error statusCode="401" prefixLanguageFilePath="" path="error.php" />
            <error statusCode="403" prefixLanguageFilePath="" path="error.php" />
            <error statusCode="404" prefixLanguageFilePath="" path="error.php" />
            <error statusCode="405" prefixLanguageFilePath="" path="error.php" />
            <error statusCode="406" prefixLanguageFilePath="" path="error.php" />
            <error statusCode="412" prefixLanguageFilePath="" path="error.php" />
            <error statusCode="500" prefixLanguageFilePath="" path="error.php" />
            <error statusCode="501" prefixLanguageFilePath="" path="error.php" />
            <error statusCode="502" prefixLanguageFilePath="" path="error.php" />
        </httpErrors>
    </system.webServer>
</configuration>

